[submodule "rubikpi"]
	path = rubikpi
	url = https://github.com/rubikpi-ai/rubikpi-script.git
[submodule "arch/arm64/boot/dts/thundercomm"]
	path = arch/arm64/boot/dts/thundercomm
	url = https://github.com/rubikpi-ai/device-tree.git
[submodule "techpack/display"]
	path = techpack/display
	url = https://github.com/rubikpi-ai/display-drivers.git
