
/ {
	/delete-node/ regulator-lcd-disp-bias;

	hdmi-connector {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_con: endpoint {
				remote-endpoint = <&lt9611_out>;
			};
		};
	};
};

&soc {
	lt9611_3p3_vreg: lt9611-3p3-vreg {
		compatible = "regulator-fixed";
		regulator-name = "lt9611_3p3_vreg";
		gpio = <&tlmm 83 0>;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		regulator-enable-ramp-delay = <10000>;
	};
};

&apps_rsc {
	regulators-0 {
		vreg_l6b_1p2: ldo6 {
			regulator-min-microvolt = <1140000>;
			regulator-max-microvolt = <1260000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};
	};

	regulators-1 {
		vreg_l10c_0p88: ldo10 {
			regulator-min-microvolt = <880000>;
			regulator-max-microvolt = <1050000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};
	};
};

&pm7250b_gpios {
	/delete-node/ lcd-disp-bias-en-state;
};

&i2c9 {
	status = "okay";

	lt9611_codec: hdmi-bridge@39 {
		compatible = "lontium,lt9611";
		reg = <0x39>;

		interrupts-extended = <&tlmm 20 IRQ_TYPE_EDGE_BOTH>;
		reset-gpios = <&tlmm 21 0>;
		enable-gpios = <&tlmm 40 0>;
		ocb-gpios = <&tlmm 41 0>;
		vcc-supply = <&lt9611_3p3_vreg>;
		config-mode = "edidAdaptiveResolution";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;

				lt9611_a: endpoint {
					remote-endpoint = <&mdss_dsi0_out>;
				};
			};

			port@2 {
				reg = <2>;

				lt9611_out: endpoint {
					remote-endpoint = <&hdmi_con>;
				};
			};
		};
	};
};

&mdss {
	status = "okay";
};

&mdss_dsi {
	vdda-supply = <&vreg_l6b_1p2>;
	status = "okay";

	/delete-node/ panel@0;
};

&mdss_dsi0_out {
	remote-endpoint = <&lt9611_a>;
	data-lanes = <0 1 2 3>;
};

&mdss_dsi_phy {
	vdds-supply = <&vreg_l10c_0p88>;
	status = "okay";
};
