// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2023, Linaro Limited
 * Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
 */

/dts-v1/;

#include "sa8775p-ride.dtsi"

/ {
	model = "Qualcomm SA8775P Ride";
	compatible = "qcom,sa8775p-ride", "qcom,qcs9100", "qcom,sa8775p";
	qcom,msm-id = <533 0x10000>, <534 0x10000>, <534 0x20000>,
		      <667 0x10000>, <667 0x20000>;
	qcom,board-id = <0x19 0>, <0x25 1>;


	/* PWR_CTR2_VDD_1P8 supply */
	vreg_conn_1p8: vreg_conn_1p8 {
		compatible = "regulator-fixed";
		regulator-name = "vreg_conn_1p8";
		startup-delay-us = <4000>;
		enable-active-high;
		gpio = <&pmm8654au_1_gpios 4 GPIO_ACTIVE_HIGH>;
	};

	/* PWR_CTR1_VDD_PA supply */
	vreg_conn_pa: vreg_conn_pa {
		compatible = "regulator-fixed";
		regulator-name = "vreg_conn_pa";
		startup-delay-us = <4000>;
		enable-active-high;
		gpio = <&pmm8654au_1_gpios 6 GPIO_ACTIVE_HIGH>;
	};

	wcn6855-pmu {
		compatible = "qcom,wcn6855-pmu";

		pinctrl-names = "default";
		pinctrl-0 = <&wlan_en_state>;

		vddctrl1-supply = <&vreg_conn_pa>;
		vddctrl2-supply = <&vreg_conn_1p8>;
		vddaon-supply = <&vreg_l2c>;
		vddvm-supply = <&vreg_l6e>;
		vddvl-supply = <&vreg_l2c>;
		vddvh-supply = <&vreg_s5a>;

		wlan-enable-gpios = <&pmm8654au_1_gpios 7 GPIO_ACTIVE_HIGH>;

		regulators {
			vreg_pmu_rfa_cmn: ldo0 {
				regulator-name = "vreg_pmu_rfa_cmn";
			};

			vreg_pmu_aon_0p59: ldo1 {
				regulator-name = "vreg_pmu_aon_0p59";
			};

			vreg_pmu_wlcx_0p8: ldo2 {
				regulator-name = "vreg_pmu_wlcx_0p8";
			};

			vreg_pmu_wlmx_0p85: ldo3 {
				regulator-name = "vreg_pmu_wlmx_0p85";
			};

			vreg_pmu_btcmx_0p85: ldo4 {
				regulator-name = "vreg_pmu_btcmx_0p85";
			};

			vreg_pmu_rfa_0p8: ldo5 {
				regulator-name = "vreg_pmu_rfa_0p8";
			};

			vreg_pmu_rfa_1p2: ldo6 {
				regulator-name = "vreg_pmu_rfa_1p2";
			};

			vreg_pmu_rfa_1p7: ldo7 {
				regulator-name = "vreg_pmu_rfa_1p7";
			};

			vreg_pmu_pcie_0p9: ldo8 {
				regulator-name = "vreg_pmu_pcie_0p9";
			};

			vreg_pmu_pcie_1p8: ldo9 {
				regulator-name = "vreg_pmu_pcie_1p8";
			};
		};
	};

};

&ethernet0 {
	phy-mode = "sgmii";
};

&ethernet1 {
	phy-mode = "sgmii";
};

&mdio {
	compatible = "snps,dwmac-mdio";
	#address-cells = <1>;
	#size-cells = <0>;

	sgmii_phy0: phy@8 {
		compatible = "ethernet-phy-id0141.0dd4";
		reg = <0x8>;
		device_type = "ethernet-phy";
		interrupts-extended = <&tlmm 7 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&pmm8654au_2_gpios 8 GPIO_ACTIVE_LOW>;
		reset-assert-us = <11000>;
		reset-deassert-us = <70000>;
	};

	sgmii_phy1: phy@a {
		compatible = "ethernet-phy-id0141.0dd4";
		reg = <0xa>;
		device_type = "ethernet-phy";
		interrupts-extended = <&tlmm 26 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&pmm8654au_2_gpios 9 GPIO_ACTIVE_LOW>;
		reset-assert-us = <11000>;
		reset-deassert-us = <70000>;
	};
};

&eud {
	status = "okay";
};

&gpi_dma0 {
	status = "okay";
};

&gpi_dma1 {
	status = "okay";
};

&gpi_dma2 {
	status = "okay";
};

&gpi_dma3 {
	status = "okay";
};

&mdss0 {
	status = "okay";
};

&mdss0_dp0 {
	status = "okay";
};

&mdss0_dp0_out {
	data-lanes = <0 1 2 3>;
	link-frequencies = /bits/ 64 <1620000000 2700000000 5400000000 8100000000>;
};

&mdss0_edp_phy {
	status = "okay";
};

&pmm8654au_1_gpios {
	bt_en_state: bt-en-state {
		pins = "gpio8";
		function = "normal";
		output-low;
		bias-pull-down;
	};

	wlan_en_state: wlan-en-state {
		pins = "gpio7";
		function = "normal";
		output-low;
		bias-pull-down;
	};
};

&qupv3_id_0 {
	status = "okay";
};

&qupv3_id_3 {
	status = "okay";
};

&spi16 {
	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <10000000>;
		spi-cpha;
	};
};

&llcc {
	status = "okay";
};

&tlmm {
	dp_hot_plug_det: dp-hot-plug-det-state {
		pins = "gpio101";
		function = "edp0_hot";
		bias-disable;
	};
};

&pcieport0 {
	wifi@0 {
		compatible = "qcom,wcn6855-wifi";
		reg = <0x10000 0x0 0x0 0x0 0x0>;

		vddrfacmn-supply = <&vreg_pmu_rfa_cmn>;
		vddaon-supply = <&vreg_pmu_aon_0p59>;
		vddwlcx-supply = <&vreg_pmu_wlcx_0p8>;
		vddwlmx-supply = <&vreg_pmu_wlmx_0p85>;
		vddrfa0p8-supply = <&vreg_pmu_rfa_0p8>;
		vddrfa1p2-supply = <&vreg_pmu_rfa_1p2>;
		vddrfa1p7-supply = <&vreg_pmu_rfa_1p7>;
		vddpcie0p9-supply = <&vreg_pmu_pcie_0p9>;
		vddpcie1p8-supply = <&vreg_pmu_pcie_1p8>;
	};
};

&usb_2_dwc3 {
	snps,dwc3_guctl_resbwhseps_quirk;
	dr_mode = "otg";
};

/* HS UART Instance */
&uart17 {
	bluetooth: bluetooth {
		compatible = "qcom,wcn6855-bt";
		pinctrl-names = "default";
		pinctrl-0 = <&bt_en_state>;
		enable-gpios = <&pmm8654au_1_gpios 8 GPIO_ACTIVE_HIGH>; /* BT_EN */

		vddio-supply       = <&vreg_conn_pa>;         /* bt-vdd-ctrl1-supply */
		vddbtcxmx-supply   = <&vreg_conn_1p8>;        /* bt-vdd-ctrl2-supply */
		vddrfacmn-supply   = <&vreg_l2c>;             /* bt-vdd-aon-supply */
		vddrfa0p8-supply   = <&vreg_l2c>;             /* bt-vdd-rfa1-supply */
		vddrfa1p7-supply   = <&vreg_s5a>;             /* bt-vdd-rfa2-supply */
		vddrfa1p2-supply   = <&vreg_l6e>;             /* bt-vdd-rfa3-supply */
		max-speed = <3200000>;
	};
};
