#include "qcm6490-addons-idp.dts"

/ {
	aliases {
		serial1 = &uart4;
	};

	qps615_1p8_vreg: qps615-1p8-vreg {
		compatible = "regulator-fixed";
		regulator-name = "qps615_1p8_vreg";
		gpio = <&tlmm 133 0>;
		regulator-min-microvolt = <1799999>;
		regulator-max-microvolt = <1799999>;
		enable-active-high;
	};

	yt8521_1p8_vreg: yt8521_1p8_vreg {
		compatible = "regulator-fixed";
		regulator-name = "yt8521_1p8_vreg";
		gpio = <&tca64_22 6 0>;
		vin-supply = <&qps615_1p8_vreg>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
	};

	rtl8211_1p8_vreg: rtl8211_1p8_vreg {
		compatible = "regulator-fixed";
		regulator-name = "rtl8211_1p8_vreg";
		gpio = <&tca64_22 23 0>;
		vin-supply = <&yt8521_1p8_vreg>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
	};

	usb_hub_1p8_vreg: usb_hub_1p8_vreg {
		compatible = "regulator-fixed";
		regulator-name = "usb_hub_1p8_vreg";
		gpio = <&tlmm 62 0>;
		vin-supply = <&rtl8211_1p8_vreg>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
	};

	M2_1p8_vreg: M2_1p8_vreg {
		compatible = "regulator-fixed";
		regulator-name = "M2_1p8_vreg";
		gpio = <&tlmm 38 0>;
		vin-supply = <&usb_hub_1p8_vreg>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
		regulator-enable-ramp-delay = <50000>;
	};

	usb_hub_rest_vreg: usb_hub_rest_vreg {
		pinctrl-0 = <&pcie1_reset_n>;
		pinctrl-names = "default";
		compatible = "regulator-fixed";
		regulator-name = "usb_hub_rest_vreg";
		gpio = <&tlmm 6 0>;
		vin-supply = <&M2_1p8_vreg>;
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
		regulator-enable-ramp-delay = <50000>;
	};

	sdio_wifi_1p8_vreg: sdio_wifi_1p8_vreg {
		compatible = "regulator-fixed";
		regulator-name = "sdio_wifi_1p8_vreg";
		enable-active-high;
		gpio = <&tlmm 125 GPIO_ACTIVE_HIGH>;
		regulator-enable-ramp-delay = <50000>;
	};

	sdio_wifi_reset_1p8_vreg: sdio_wifi_reset_1p8_vreg {
		pinctrl-0 = <&wifi_reset_active>;
		pinctrl-names = "default";
		compatible = "regulator-fixed";
		regulator-name = "sdio_wifi_reset_1p8_vreg";
		enable-active-high;
		regulator-boot-on;
		gpio = <&tlmm 16 GPIO_ACTIVE_HIGH>;
		vin-supply = <&sdio_wifi_1p8_vreg>;
	};

	pmic-glink {
		compatible = "qcom,sm8350-pmic-glink", "qcom,pmic-glink";
		#address-cells = <1>;
		#size-cells = <0>;
		orientation-gpios = <&tlmm 140 GPIO_ACTIVE_HIGH>;
		qcom,thermal-mitigation = <3000000 1500000 1000000 500000>;

		connector@0 {
			compatible = "usb-c-connector";
			reg = <0>;
			power-role = "dual";
			data-role = "dual";

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					pmic_glink_hs_in: endpoint {
						remote-endpoint = <&usb_1_dwc3_hs>;
					};
				};

				port@1 {
					reg = <1>;
					pmic_glink_ss_in: endpoint {
						remote-endpoint = <&redriver_ss_out>;
					};
				};

				/delete-node/ port@2;
			};
		};
	};
};

&tlmm {
	/delete-property/ gpio-reserved-ranges;
	pcie1_wake_n: pcie1-wake-n-state {
		pins = "gpio3";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-up;
	};

	pcie1_clkreq_n: pcie1-clkreq-n-state {
		pins = "gpio79";
		function = "pcie1_clkreqn";
		drive-strength = <2>;
		bias-pull-up;
	};

	pcie1_reset_n: pcie1-reset-n-state {
		pins = "gpio2";
		function = "gpio";
		drive-strength = <16>;
		output-high;
		bias-disable;
	};

	mi2s2_data0: mi2s2-data0-state {
		pins = "gpio102";
		function = "mi2s2_data0";
	};

	mi2s2_data1: mi2s2-data1-state {
		pins = "gpio104";
		function = "mi2s2_data1";
	};

	mi2s2_sclk: mi2s2-sclk-state {
		pins = "gpio101";
		function = "mi2s2_sck";
	};

	mi2s2_ws: mi2s2-ws-state {
		pins = "gpio103";
		function = "mi2s2_ws";
	};

	mi2s2_data0_sleep: mi2s2-data0-sleep {
		pins = "gpio102";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	mi2s2_data1_sleep: mi2s2-data1-sleep {
		pins = "gpio104";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	mi2s2_sclk_sleep: mi2s2-sclk-sleep {
		pins = "gpio101";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	mi2s2_ws_sleep: mi2s2-ws-sleep {
		pins = "gpio103";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	mi2s1_data0_sleep: mi2s1-data0-sleep {
		pins = "gpio107";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	mi2s1_data1_sleep: mi2s1-data1-sleep {
		pins = "gpio105";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	mi2s1_sclk_sleep: mi2s1-sclk-sleep {
		pins = "gpio106";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	mi2s1_ws_sleep: mi2s1-ws-sleep {
		pins = "gpio108";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
		input-enable;
	};

	mi2s1_data0: mi2s1-data0-state {
		pins = "gpio107";
		function = "mi2s1_data0";
	};

	mi2s1_data1: mi2s1-data1-state {
		pins = "gpio105";
		function = "mi2s1_data1";
	};

	mi2s1_sclk: mi2s1-sclk-state {
		pins = "gpio106";
		function = "mi2s1_sck";
	};

	mi2s1_ws: mi2s1-ws-state {
		pins = "gpio108";
		function = "mi2s1_ws";
	};

	wifi_reset_active: wifi_reset_active {
		pins = "gpio16";
		function = "gpio";
		drive-strength = <8>;
		bias-pull-up;
	};
};

&soc {
	tca64_22_vreg: tca64_22_regulator {
		compatible = "regulator-fixed";
		regulator-name = "tca64_22_vreg";
		startup-delay-us = <1000>;
		enable-active-high;
	};

	retimer_1c_vreg: retimer_1c_regulator {
		compatible = "regulator-fixed";
		regulator-name = "retimer_1c_vreg";
		startup-delay-us = <1000>;
		enable-active-high;
	};
};

&gcc {
	protected-clocks = <GCC_QSPI_CNOC_PERIPH_AHB_CLK>, <GCC_QSPI_CORE_CLK>,
			<GCC_QSPI_CORE_CLK_SRC>, <GCC_CFG_NOC_LPASS_CLK>,
			<GCC_MSS_GPLL0_MAIN_DIV_CLK_SRC>, <GCC_MSS_CFG_AHB_CLK>,
			<GCC_MSS_OFFLINE_AXI_CLK>, <GCC_MSS_SNOC_AXI_CLK>,
			<GCC_MSS_Q6_MEMNOC_AXI_CLK>, <GCC_MSS_Q6SS_BOOT_CLK_SRC>,
			<GCC_SEC_CTRL_CLK_SRC>, <GCC_WPSS_AHB_CLK>,
			<GCC_WPSS_AHB_BDG_MST_CLK>, <GCC_WPSS_RSCP_CLK>;
};

&i2c1 {
	clock-frequency = <100000>;
	status = "okay";

	/delete-node/ typec-mux@42;

	typec-retimer@1c {
		compatible = "onnn,nb7vpq904m";
		reg = <0x1c>;
		vcc-supply = <&retimer_1c_vreg>;
		retimer-switch;
		orientation-switch;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				redriver_ss_out: endpoint {
					remote-endpoint = <&pmic_glink_ss_in>;
				};
			};

			port@1 {
				reg = <1>;
				redriver_ss_in: endpoint {
					data-lanes = <3 2 1 0>;
					remote-endpoint = <&usb_1_qmpphy_out>;
				};
			};
		};
	};
};

&i2c2 {
	clock-frequency = <100000>;
	status = "okay";
	qps615_switch: pcie-switch@77 {
		compatible = "qcom,switch-i2c";
		reg = <0x77>;
		vdda-supply = <&usb_hub_rest_vreg>;
		status = "okay";
	};
};

&i2c12 {
	status = "ok";
	tca64_22: tca6424@22 {
		compatible = "ti,tca6424";
		reg = <0x22>;
		vcc-supply = <&tca64_22_vreg>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&uart4 {
	status = "okay";
	pinctrl-0 = <&qup_uart4_tx>, <&qup_uart4_rx>;
};

&uart14 {
	status = "disabled";
};

&apps_rsc {
	regulators-0 {
		vreg_l6b_1p2: ldo6 {
			regulator-min-microvolt = <1140000>;
			regulator-max-microvolt = <1260000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};
	};

	regulators-1 {
		vreg_l10c_0p88:ldo10 {
			regulator-min-microvolt = <880000>;
			regulator-max-microvolt = <1050000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_HPM>;
		};
	};
};

&pcie1 {
	status = "okay";
	perst-gpios = <&tlmm 2 GPIO_ACTIVE_LOW>;
	dummy-supply = <&qps615_switch>;
	pinctrl-names = "default";
	pinctrl-0 = <&pcie1_clkreq_n>, <&pcie1_wake_n>;
	iommu-map = <0x0 &apps_smmu 0x1c80 0x1>,
		<0x100 &apps_smmu 0x1c81 0x1>,
		<0x208 &apps_smmu 0x1c84 0x1>,
		<0x210 &apps_smmu 0x1c85 0x1>,
		<0x218 &apps_smmu 0x1c86 0x1>,
		<0x300 &apps_smmu 0x1c87 0x1>,
		<0x400 &apps_smmu 0x1c88 0x1>,
		<0x500 &apps_smmu 0x1c89 0x1>,
		<0x501 &apps_smmu 0x1c90 0x1>;
	pcieport0: pcie@0 {
		device_type = "pci";
		reg = <0x0 0x0 0x0 0x0 0x0>;
		#address-cells = <5>;
		#size-cells = <0>;
		/* BDF 1.0.0 */
		pcie1_bus1_dev0_fn0: pcie1_bus1_dev0_fn0 {
			reg = <0 0 0 0 0>;
			/* BDF 2.1.0 */
			pcie1_bus2_dev1_fn0: pcie1_bus2_dev1_fn0 {
				reg = <0x800 0x0 0x0 0x0 0x0>;
				/* BDF 3.0.0 */
				pcie1_bus3_dev0_fn0: pcie1_bus3_dev0_fn0 {
					reg = <0x0 0x0 0x0 0x0 0x0>;
				};
			};
			/* BDF 2.2.0 */
			pcie1_bus2_dev2_fn0: pcie1_bus2_dev2_fn0 {
				reg = <0x1000 0x0 0x0 0x0 0x0>;
				/* BDF 4.0.0 */
				pcie1_bus4_dev0_fn0: pcie1_bus4_dev0_fn0 {
					reg = <0x0 0x0 0x0 0x0 0x0>;
				};
			};
			/* BDF 2.3.0 */
			pcie1_bus2_dev3_fn0: pcie1_bus2_dev3_fn0 {
				reg = <0x1800 0x0 0x0 0x0 0x0>;
				qps615_eth0,qps615_eth0@pcie1_rp {
					reg = <0x0 0x0 0x0 0x0 0x0>;
					//pinctrl-names = "default";
					//pinctrl-0 = <&aqr_intn_wol_sig>;
					qcom,phy-rst-gpio = <0>;
					//interrupts-extended = <&tlmm 141 IRQ_TYPE_EDGE_FALLING>;
					//interrupt-names = "wol_irq";
					//phy-supply = <&aqr_vreg>;
					qcom,phy-rst-delay-us = <20000>;
					#address-cells = <1>;
					#size-cells = <1>;
				};
				/* BDF 5.0.0 */
				pcie1_bus5_dev0_fn0: pcie1_qps_eth0 {
					reg = <0x0 0x0 0x0 0x0 0x0>;
					qcom,iommu-group = <&eth0_pci_iommu_group>;
					eth0_pci_iommu_group: eth0_pci_iommu_group {
						qcom,iommu-dma = "atomic";
					};
				};
				qps615_eth1,qps615_eth1@pcie1_rp {
					reg = <0x100 0x0 0x0 0x0 0x0>;
					//pinctrl-names = "default";
					//pinctrl-0 = <&napa_intn_wol_sig>;
					qcom,phy-rst-gpio = <1>;
					//interrupts-extended = <&tlmm 101 IRQ_TYPE_EDGE_FALLING>;
					//interrupt-names = "wol_irq";
					//phy-supply = <&qep_vreg>;
					qcom,phy-rst-delay-us = <20000>;
					#address-cells = <1>;
					#size-cells = <1>;
				};
				/* BDF 5.0.1 */
				pcie1_bus5_dev0_fn1: pcie1_qps_eth1 {
					reg = <0x100 0x0 0x0 0x0 0x0>;
					qcom,iommu-group = <&eth1_pci_iommu_group>;
					eth1_pci_iommu_group: eth1_pci_iommu_group {
						qcom,iommu-dma = "atomic";
					};
				};
			};
		};
	};
};

&pcie1_phy {
	status = "okay";
	vdda-phy-supply = <&vreg_l10c_0p88>;
	vdda-pll-supply = <&vreg_l6b_1p2>;
	qcom,refclk-always-on;
};

&lpass_rx_macro {
	status = "disabled";
};

&lpass_tx_macro {
	status = "disabled";
};

&lpass_wsa_macro {
	status = "disabled";
};

&swr2 {
	status = "disabled";
};

&wcd9370 {
	status = "disabled";
};

&swr0 {
	status = "disabled";
};

&swr1 {
	status = "disabled";
};

&remoteproc_adsp {
	firmware-name = "qcom/qcs6490/adsp.mdt";
	status = "okay";
};

&remoteproc_cdsp {
	firmware-name = "qcom/qcs6490/cdsp.mdt";
	status = "okay";
};

&remoteproc_mpss {
	firmware-name = "qcom/qcs6490/modem.mdt";
	status = "okay";
};

&remoteproc_wpss {
	firmware-name = "qcom/qcs6490/wpss.mdt";
	status = "okay";
};

&i2c8 {
	status = "okay";
	aw88266_1: aw88266-1@34 {
		compatible = "awinic,aw882xx_smartpa";
		#sound-dai-cells = <0>;
		reg = <0x34>;
		power-gpio = <&tca64_22 22 0>;
		reset-gpio = <&tlmm 134 0>;
		irq-gpio = <&tlmm 123 0>;
		aw-tx-topo-id = <0x1000ff00>;
		aw-rx-topo-id = <0x1000ff01>;
		aw-tx-port-id = <0x1007>;
		aw-rx-port-id = <0x1006>;
		aw-re-min = <4000>;
		aw-re-max= <30000>;
		status = "ok";
	};
};

&sound {
	pinctrl-names = "default", "stub_aif1_active", "stub_aif1_sleep";
	pinctrl-0 = <&mi2s0_data0_sleep>, <&mi2s0_data1_sleep>, <&mi2s0_mclk_sleep>,
				<&mi2s0_sclk_sleep>, <&mi2s0_ws_sleep>,
				<&mi2s2_data0_sleep>, <&mi2s2_data1_sleep>,
				<&mi2s2_sclk_sleep>, <&mi2s2_ws_sleep>,
				<&mi2s1_data0_sleep>, <&mi2s1_data1_sleep>,
				<&mi2s1_sclk_sleep>, <&mi2s1_ws_sleep>;
	pinctrl-1 = <&mi2s0_data0>, <&mi2s0_data1>, <&mi2s0_mclk>,
				<&mi2s0_sclk>, <&mi2s0_ws>,
				<&mi2s2_data0>, <&mi2s2_data1>,
				<&mi2s2_sclk>, <&mi2s2_ws>,
				<&mi2s1_data0>, <&mi2s1_data1>,
				<&mi2s1_sclk>, <&mi2s1_ws>;
	pinctrl-2 = <&mi2s0_data0_sleep>, <&mi2s0_data1_sleep>, <&mi2s0_mclk_sleep>,
				<&mi2s0_sclk_sleep>, <&mi2s0_ws_sleep>,
				<&mi2s2_data0_sleep>, <&mi2s2_data1_sleep>,
				<&mi2s2_sclk_sleep>, <&mi2s2_ws_sleep>,
				<&mi2s1_data0_sleep>, <&mi2s1_data1_sleep>,
				<&mi2s1_sclk_sleep>, <&mi2s1_ws_sleep>;

	audio-routing =
		"VA DMIC0", "vdd-micb",
		"VA DMIC1", "vdd-micb",
		"VA DMIC2", "vdd-micb",
		"VA DMIC3", "vdd-micb";

	mi2s1-playback-dai-link {
		link-name = "MI2S-LPAIF-RX-SECONDARY";
		cpu {
			sound-dai = <&q6apmbedai SECONDARY_MI2S_RX>;
		};
		codec {
			sound-dai = <&msm_stub_codec 0>, <&aw88266_1>;
		};
	};

	mi2s1-capture-dai-link {
		link-name = "MI2S-LPAIF-TX-SECONDARY";
		cpu {
			sound-dai = <&q6apmbedai SECONDARY_MI2S_TX>;
		};
		codec {
			sound-dai = <&msm_stub_codec 1>;
		};
	};

	mi2s2-playback-dai-link {
		link-name = "MI2S-LPAIF-RX-TERTIARY";
		cpu {
			sound-dai = <&q6apmbedai TERTIARY_MI2S_RX>;
		};
		codec {
			sound-dai = <&msm_stub_codec 0>;
		};
	};

	mi2s2-capture-dai-link {
		link-name = "MI2S-LPAIF-TX-TERTIARY";
		cpu {
			sound-dai = <&q6apmbedai PRIMARY_MI2S_TX>;
		};
		codec {
			sound-dai = <&msm_stub_codec 1>;
		};
	};

	/delete-node/ wsa-dai-link;
	/delete-node/ vi-feedback-dai-link;
	/delete-node/ wcd-playback-dai-link;
	/delete-node/ wcd-capture-dai-link;
};

&usb_1 {
	snps,dis-u2-entry-quirk;
	snps,dis-u1-entry-quirk;
};

&usb_1_qmpphy_out {
	remote-endpoint = <&redriver_ss_in>;
};

&sdc2_clk {
	bias-disable;
	drive-strength = <16>;
};

&sdc2_cmd {
	bias-pull-up;
	drive-strength = <10>;
};

&sdc2_data {
	bias-pull-up;
	drive-strength = <10>;
};
&qup_uart7_rx {
	/delete-property/ bias-pull-up;
	bias-pull-down;
	output-low;
};

&sdhc_2 {
	status = "okay";

	pinctrl-0 = <&sdc2_clk>, <&sdc2_cmd>, <&sdc2_data>;
	pinctrl-1 = <&sdc2_clk_sleep>, <&sdc2_cmd_sleep>, <&sdc2_data_sleep>;
	dummy-supply = <&sdio_wifi_reset_1p8_vreg>;

	non-removable;

	/delete-property/ vmmc-supply;
	/delete-property/ vqmmc-supply;
	/delete-property/ cd-gpios;
};
