CONFIG_SND_SOC_AW88266A=y
CONFIG_WLAN_VENDOR_NXP=y
CONFIG_L287BSR=y
CONFIG_BCMDHD=m
CONFIG_BCMDHD_FW_PATH="/lib/firmware/fw_bcmdhd.bin"
CONFIG_BCMDHD_NVRAM_PATH="/lib/firmware/nvram.txt"
CONFIG_BCMDHD_SDIO=y
CONFIG_BCMDHD_OOB=y
CONFIG_AX88179B=m
CONFIG_INPUT_JOYSTICK=y
CONFIG_MFD_RPISENSE_CORE=m
CONFIG_JOYSTICK_RPISENSE=m
CONFIG_FB_RPISENSE=m
CONFIG_IIO_CONFIGFS=y
CONFIG_IIO_SW_TRIGGER=y
CONFIG_IIO_HRTIMER_TRIGGER=y
CONFIG_IIO_SYSFS_TRIGGER=y
CONFIG_IIO_INTERRUPT_TRIGGER=y
CONFIG_IIO_ST_MAGN_3AXIS=m
CONFIG_IIO_ST_MAGN_I2C_3AXIS=m
CONFIG_IIO_ST_PRESS=m
CONFIG_IIO_ST_PRESS_I2C=m
CONFIG_HTS221=m
CONFIG_HTS221_I2C=m
CONFIG_SND_SOC_ES8316=m
CONFIG_SYSVIPC=y
CONFIG_SYSVIPC_SYSCTL=y
CONFIG_SYSVIPC_COMPAT=y
CONFIG_LOCALVERSION_AUTO=n
CONFIG_NVMEM_REBOOT_MODE=m
CONFIG_GPIO_SYSFS=y
CONFIG_DEBUG_GPIO=y
CONFIG_AQTION=m
CONFIG_HUSB238_PDC=m
CONFIG_LKDTM=m
CONFIG_INIT_ON_FREE_DEFAULT_ON=y
CONFIG_DEVMEM=y
CONFIG_MODULE_SIG_FORCE=n
CONFIG_INV_ICM42600=y
CONFIG_INV_ICM42600_I2C=y
CONFIG_INV_ICM42600_SPI=y
CONFIG_IIO_KFIFO_BUF=y
CONFIG_DRM_LT9611=m
CONFIG_HIDRAW=y
CONFIG_EXFAT_FS=y
CONFIG_CAN=y
CONFIG_CAN_RAW=y
CONFIG_CAN_BCM=y
CONFIG_CAN_GW=y
CONFIG_CAN_DEV=y
CONFIG_CAN_GS_USB=y
CONFIG_JOYDEV=y
CONFIG_HID_SONY=y
CONFIG_SQUASHFS=y
